body {
    background-color: #e9ecef; /* Trocado por um fundo cinza claro */
}

.header {
    font-weight: bold;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.transaction-icon {
    font-size: 36px;
    color: #ff7f50;
}

/* Adicionando efeito ao botão */
.hover-button {
    transition: background-color 0.3s, color 0.3s; /* Transição suave para efeitos */
}

.hover-button:hover {
    background-color: #c82333; /* Cor mais escura ao passar o mouse */
    color: white; /* Mantém a cor do texto como branca */
}